<ul class="metadata {{classes}}">
  {{#timestamp}}
    <li class="metadata__time">
      {{atom "bbc-news-matter/icon" classes="icon--type" set="core" icon="duration"}} <span class="metadata__dur-rel">{{duration}}</span><span class="metadata__dur-abs">{{durationAbs}}</span>
    </li>
  {{/timestamp}}
  <li class="metadata__section">
    <a href="#">{{section}}</a>
  </li>
  {{#comments}}
    <li class="metadata__comments">
        {{atom "bbc-news-matter/icon" classes="icon--type" set="social" icon="comments"}} {{count}}
    </li>
  {{/comments}}
</ul>
