<div class="promo">
  <div class="promo__thumb">
    {{#label}}
      {{atom "bbc-news-matter/label" classes="promo__label"}}
    {{/label}}

    {{#media}}
      {{atom "bbc-news-matter/image"}}
    {{/media}}
  </div>

  <div class="promo__body">
    <h3>{{headline}}</h3>

    {{#summary}}
      <p>{{text}}</p>
    {{/summary}}

    {{#contributor}}
      {{molecule "bbc-news-matter/contributor"}}
    {{/contributor}}

    {{#metadata}}
      {{molecule "bbc-news-matter/metadata"}}
    {{/metadata}}

    {{#see-also}}
      {{molecule "bbc-news-matter/see_also"}}
    {{/see-also}}
  </div>
</div>
